.App {
  background-color: #51796F;
  min-height: 100vh;
  color: white;
}

.primary{
  background-color: #51796F;
}
.primary:hover{
  background-color: #55726a;
}

.secondary{
  background-color: #6FB2AE;
}

.secondary:hover{
  background-color: #82b7b4;
}
