.App {
  background: linear-gradient(160deg, rgba(111,178,174,1) 0%, rgba(81,121,111,1) 81%);
  min-height: 100vh;
  color: white;
}

.primary{
  background-color: #51796F;
  transition: .3s ease background-color
}
.primary:hover{
  background-color: #29423b;
}

.secondary{
  background-color: #6FB2AE;
  transition: .3s ease background-color;
}

.secondary:hover{
  background-color: #155653;
}
.scroll-section-outer{
  overflow: hidden;
}

.scroll-section-inner {
  height: 100%;
  width: 300vw;
  display: flex;
  flex-direction: row;
  position: relative;
}


a:after{
  content: '';
  inset: 0;
  position: absolute;
  cursor: pointer;
}
